<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <link rel="shortcut icon" type="image/png" href="img/unnamed.png">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" action="/login" method="post">
            <input type="text" name="user" placeholder="Usuario"/>
            <input type="password" name="passwd" placeholder="Contraseña"/>
            <button>Iniciar sesión</button>
          </form>
        </div>
      </div>
</body>
</html>